<style>
    #idaddress {
        display: none;
    }
</style>

<form class="form-address" method="post" asp-controller="Addresses">
    <input id="idaddress" name="id" type="number" value="@Model.Id" />
    <div class="items">
        <ul class="list">
            <li>
                <label class="labeinfo">Населенный пункт</label>
                <select name="CityId">
                    @{
                        foreach (City i in ViewBag.Cities)
                        {
                            if (Model.City?.Id == i.Id)
                            {
                                <option selected value="@i.Id">
                                    @i.PrefixLocality @i.NameLocality
                                </option>
                            }
                            else
                            {
                                <option value="@i.Id">
                                    @i.PrefixLocality @i.NameLocality
                                </option>
                            }
                        }                     
                    }
                </select>
            </li>
            <li>
                <label class="labeinfo">Префикс улицы</label>
                <input class="intput-1" name="PrefixStreet" value="@Model.PrefixStreet" type="text" />
            </li>
            <li>
                <label class="labeinfo">Название улицы</label>
                <input class="intput-1" name="NameStreet" value="@Model.NameStreet" type="text" />
            </li>
            <li>
                <label class="labeinfo">Номер дома</label>
                <input class="intput-1" name="NumberHouse" value="@Model.NumberHouse" type="number" />
            </li>
            <li>
                <label class="labeinfo">Литера дома</label>
                <input class="intput-1" name="LeterHome" value="@Model.LeterHome" type="text" />
            </li>
            <li>
                <label class="labeinfo">Номер корпуса</label>
                <input class="intput-1" name="NumberCase" value="@Model.NumberCase" type="number" />
            </li>
            <li>
                <label class="labeinfo">Номер квартиры</label>
                <input class="intput-1" name="NumberApartments" value="@Model.NumberApartments" type="number" />
            </li>
            <li>
                <label class="labeinfo">Номер комнаты</label>
                <input class="intput-1" name="NumberRoom" value="@Model.NumberRoom" type="number" />
            </li>
            <li>
                <label class="labeinfo">Комментарий</label>
                <textarea class="intput-1" name="Description" type="text">@Model.Description</textarea>
            </li>
            <li>
                <button id="btn_ok" type="submit" asp-action="Edit">Сохранить</button>
                <button id="btn_cancel" type="submit" formmethod="get" asp-action="Index">Отмена</button>
            </li>
        </ul>
    </div>
</form>
